<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- 移除這一行 -->
            <!-- <mimeMap fileExtension=".html" mimeType="text/html" /> -->
        </staticContent>
        <defaultDocument>
            <files>
                <add value="Ipinfo.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>